{% capture social_icons %}
{% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer" aria-label="Email"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
{% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i class="fa fa-fw fa-twitter-square"></i></a>{% endif %}
{% if site.facebook %}<a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="fa fa-fw fa-facebook-square"></i></a>{% endif %}
{% if site.google.plus %}<a class="social-btn" href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer" aria-label="Google Plus"><i class="fa fa-fw fa-google-plus-square"></i></a>{% endif %}
{% if site.linkedin %}<a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><i class="fa fa-fw fa-linkedin-square"></i></a>{% endif %}
{% if site.xing %}<a class="social-btn" href="http://www.xing.com/profile/{{ site.xing }}" target="_blank" rel="noopener noreferrer" aria-label="Xing"><i class="fa fa-fw fa-xing-square"></i></a>{% endif %}
{% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
{% if site.tumblr %}<a class="social-btn" href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer" aria-label="Tumblr"><i class="fa fa-fw fa-tumblr-square"></i></a>{% endif %}
{% if site.medium %}<a class="social-btn" href="https://medium.com/{{ site.medium }}" target="_blank" rel="noopener noreferrer" aria-label="Medium"><i class="fa fa-fw fa-medium"></i></a>{% endif %}
{% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer" aria-label="GitHub"><i class="fa fa-fw fa-github"></i></a>{% endif %}
{% if site.stackoverflow %}<a class="social-btn" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer" aria-label="Stack Overflow"><i class="fa fa-fw fa-stack-overflow"></i></a>{% endif %}
{% if site.lastfm %}<a class="social-btn" href="http://lastfm.com/user/{{ site.lastfm }}" target="_blank" rel="noopener noreferrer" aria-label="Last.fm"><i class="fa fa-fw fa-music"></i></a>{% endif %}
{% if site.dribbble %}<a class="social-btn" href="http://dribbble.com/{{ site.dribbble }}" target="_blank" rel="noopener noreferrer" aria-label="Dribbble"><i class="fa fa-fw fa-dribbble"></i></a>{% endif %}
{% if site.pinterest %}<a class="social-btn" href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer" aria-label="Pinterest"><i class="fa fa-fw fa-pinterest"></i></a>{% endif %}
{% if site.foursquare %}<a class="social-btn" href="http://foursquare.com/{{ site.foursquare }}" target="_blank" rel="noopener noreferrer" aria-label="Foursquare"><i class="fa fa-fw fa-foursquare"></i></a>{% endif %}
{% if site.steam %}<a class="social-btn" href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer" aria-label="Steam"><i class="fa fa-fw fa-steam-square"></i></a>{% endif %}
{% if site.youtube %}<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube"><i class="fa fa-fw fa-youtube-square"></i></a>{% endif %}
{% if site.youtube-channel %}<a class="social-btn" href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube Channel"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
{% if site.soundcloud %}<a class="social-btn" href="http://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener noreferrer" aria-label="SoundCloud"><i class="fa fa-fw fa-soundcloud"></i></a>{% endif %}
{% if site.weibo %}<a class="social-btn" href="http://www.weibo.com/{{ site.weibo }}" target="_blank" rel="noopener noreferrer" aria-label="Weibo"><i class="fa fa-fw fa-weibo"></i></a>{% endif %}
{% if site.flickr %}<a class="social-btn" href="http://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer" aria-label="Flickr"><i class="fa fa-fw fa-flickr"></i></a>{% endif %}
{% if site.codepen %}<a class="social-btn" href="http://codepen.io/{{ site.codepen }}" target="_blank" rel="noopener noreferrer" aria-label="CodePen"><i class="fa fa-fw fa-codepen"></i></a>{% endif %}
{% if site.keybase %}<a class="social-btn" href="https://keybase.io/{{ site.keybase }}" target="_blank" rel="noopener noreferrer" aria-label="Keybase"><i class="fa fa-fw fa-key"></i></a>{% endif %}
{% if site.xmpp %}<a class="social-btn" href="xmpp:{{ site.xmpp }}" target="_blank" rel="noopener noreferrer" aria-label="XMPP"><i class="fa fa-fw fa-lightbulb-o"></i></a>{% endif %}
{% if site.hackernews %}<a class="social-btn" href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer" aria-label="Hacker News"><i class="fa fa-fw fa-hacker-news"></i></a>{% endif %}
{% endcapture %}
{% assign social_icons = social_icons | strip %}
{% if social_icons != '' %}
<div class="social-links" aria-label="Social media links">
  <span class="social-links__label">Connect</span>
  <div class="social-links__items">
    {{ social_icons }}
  </div>
</div>
{% endif %}
